* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Container {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 2%;
  margin: 40px 0 20px;
}
.Container img {
  width: 18%;
  margin-left: 5%;
}
.Container p {
  font-size: 3vw;
  text-align: center;
}
@media only screen and (max-width: 600px) {
    .Container{
        background-color: aqua;
    }
}
